@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
:root{
  --primary-color: #0d0e14;
  --hover-color: #2d2e38;
  --accent-color: #0071FF;
  --text-color: #c9c9c9;
}

html{
  font-family: Poppins, 'Segoe UI', sans-serif;
  color: var(--text-color);
  scroll-behavior: smooth; /*For bookmark links*/
}

body {
  margin: 0px;
  margin-top: 30em;
  margin-bottom: 0em ;
  background-color: var(--primary-color);
  overflow-x: hidden;
 /* background-image: url('../test.png'); */
 -webkit-user-select: none; /* Safari */
 -ms-user-select: none; /* IE 10 and IE 11 */
 user-select: none; /* Standard syntax */
}

.navbar{
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), rgb(0, 0, 0),  rgb(0, 0, 0));
	width:100%;
  bottom:0px;
  height: 200px;
  top:0px;
  position: fixed;
  z-index:10;
  
}

.navbar h1{
  filter: drop-shadow(0 0 0px rgb(198, 196, 238)) drop-shadow(0 0 0px rgb(201, 199, 240)) drop-shadow(0 0 10px rgb(201, 198, 240));
  font-family:Copperplate,Copperplate Gothic Light,fantasy; 
  font-weight: 100;
}


section{
  display: grid;
  place-items: center;
  align-content: center;

  
}

.generalsec{
  margin: 2%;
  margin-top: 0em;
  margin-bottom: 0em ;
  border-bottom: double;
  border-color: #bec0c494;
  padding: 4em;

}

.general{
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  
}

.generalText{

  display: flex;
  flex-direction: column;
  margin-left: 2em;
}


.generalButtons{
  display: flex;
  flex-direction: row;
}

.generalButtons button{
  margin:2em;
}


.wrapper{
  display: flex;
  justify-content: center;
  position: relative;
  
}

.box{
  display: flex;
  padding: 1em 1em;
  flex-direction: column;
  margin: 15px;
  width: 20%;
  background-color: rgb(53, 56, 61);
  border-radius: 15px;
  line-height: 20px;
  text-align: justify;
  position: relative;
  
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.box::after, .box::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
}

.box:hover::after, .box:hover::before{
  padding: 3px;
  border-radius: 15px;
  background-image: conic-gradient(from var(--angle), transparent, rgb(208, 219, 240));
  animation: 3s spin linear infinite;
}

.box::before{
  filter:blur(1rem);
  opacity: 0.5;
}

@keyframes spin{
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
}

.box p{
  padding: 10px;
}

.box h3{
  text-align: center;
}

.box:nth-child(2){
  transition-delay: 200ms;
}

.box:nth-child(3){
  transition-delay: 400ms;
}


#container3D canvas {
  width: 100vw !important;
  height: 100vh !important;
  position: absolute;

  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index:0;
}


.hidden{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
  z-index:0;
  margin-top: 15em;
}

.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.mobileWrap{
  display:none;
}

header {
  margin-top: 1em;
  text-align: center;
  color: white;
  font-size: 200%;
}

header h1 {
  font-size: 2em;
  font-weight: 900;
}

.rear{
  bottom:0px;
  padding: 10px;
  height: 150px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgb(0, 0, 0),  rgb(0, 0, 0));
}


@media all and (max-width: 800px) { 

.navbar h1{
  font-size: 30px;
}

.general{
  flex-direction: column;
}

.generalText{
  margin-left: 0em;
}



.box{
  width: 90%;
  height:25em;
  margin-bottom: 1em;
}

.wrapper{
  display:none;

}

.mobileWrap{
  display: flex;
  margin: 2em;
  margin-top: 5em;
  margin-bottom: -10em;
  padding: 1em 2em;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.hidden{
  margin-bottom: -10em;
}

#container3D canvas {
  width: 90vw !important;
  height: 90vh !important;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  margin-top: 3em;
  margin-bottom: 8em;
  overflow-x: visible;
}

.body{
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  overflow-x: hidden;
} 

.mobileTest{
  margin-top: 80em;
}

}