body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #111213;
  overflow-x: hidden;
  color: white;
 /* background-image: url('../test.png'); */
 -webkit-user-select: none; /* Safari */
 -ms-user-select: none; /* IE 10 and IE 11 */
 user-select: none; /* Standard syntax */
}

.navbar{
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), rgb(0, 0, 0),  rgb(0, 0, 0));
	width:100%;
  bottom:0px;
  height: 200px;
  top:0px;
  position: fixed;
  z-index:1;
  
}

.navbar h1{
  filter: drop-shadow(0 0 0px rgb(204, 202, 240)) drop-shadow(0 0 0px rgb(204, 202, 240)) drop-shadow(0 0 10px rgb(204, 202, 240));
  font-family:Copperplate,Copperplate Gothic Light,fantasy; 
  font-weight: 100;
}


section{
  display: grid;
  place-items: center;
  align-content: center;
  
}


.wrapper{
  display: flex;
  justify-content: center;
  position: relative;
 
  
}

.box{
  
  margin: 15px;
  width: 17%;
  background-color: rgb(53, 56, 61);
  margin-bottom: -15em;
  border-radius: 15px;
  line-height: 20px;
  text-align: justify;
  position: relative;
  
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.box::after, .box::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
}

.box:hover::after, .box:hover::before{
  padding: 3px;
  border-radius: 15px;
  background-image: conic-gradient(from var(--angle), transparent, rgb(208, 219, 240));
  animation: 3s spin linear infinite;
}

.box::before{
  filter:blur(1rem);
  opacity: 0.5;
}

@keyframes spin{
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
}

.box p{
  padding: 10px;
}

.box h3{
  text-align: center;
}

.box:nth-child(2){
  transition-delay: 200ms;
}

.box:nth-child(3){
  transition-delay: 400ms;
}

header {
  margin-top: 1em;
  text-align: center;
  color: white;
  font-size: 200%;
}

header h1 {
  font-size: 2em;
  font-weight: 900;
}

#container3D canvas {
  width: 100vw !important;
  height: 100vh !important;
  position: absolute;
  left:0px;
  z-index:0;
  top:-35em;
}

.hidden{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
  z-index:0;
  margin-top: 40em;
  
 
}

.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.mobileWrap{
  display:none;
}

.rear{
  bottom:0px;
  padding: 10px;
  height: 150px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgb(0, 0, 0),  rgb(0, 0, 0));
}


@media all and (max-width: 800px) { 
.navbar h1{
  font-size: 30px;
}

.box{
  width: 90%;
  height:25em;
  margin-bottom: 1em;
}

.wrapper{
  display:none;
  margin: 1em;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.mobileWrap{
  margin: 1em;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.hidden{
  margin-bottom: -10em;
}

#container3D canvas {
  width: 70vw !important;
  height: 70vh !important;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  margin-top: -4em;
  margin-bottom: 4em;;
}

}